<h2>Regras de conduta</h2>

<p>O MobPuc não se responsabiliza pelo conteúdo das mobilizações criadas no site, sendo elas 
de total responsabilidade de seus criadores. Nós nos reservamos ao direito de remover 
quaisquer mobilizações que infrinjam os valores e as regras de conduta do MobPuc. Não serão 
aceitas mobilizações de caráter racista, preconceituoso ou caluniador. Está vedado o uso de 
fotos de professores, alunos ou funcionários da PUC­Rio. </p>

<p>O MobPUC é uma plataforma criada por alunos, para alunos da PUC. Nossa intenção é 
sempre melhorar nossa faculdade e agora tornamos isso mais fácil. </p>

<p>O MobPuc tem como objetivo ser uma 
plataforma de diálogo e resolução de problemas. Por isso, tente ser claro e objetivo na criação 
da sua mobilização! Escolha uma meta de assinaturas que tenha relação com o tamanho da 
sua mobilização, e procure no nosso banco de dados quem é o responsável dentro da PUC pra 
atender a sua solicitação.</p>


<p>1. O MobPUC aconselha que questões pessoais e/ou pontuais sejam resolvidas sem o uso da
plataforma.</p>

<p>2. O MobPUC defende que uma mobilização deva abordar algo que seja de interesse de um 
grupo ou de todos na PUC, prezando sempre pelo respeito ao próximo.</p>

<p>3. O MobPUC não apoia qualquer tipo de mobilização que tenha por objetivo a difamação ou o 
denegrimento da imagem de outrem.</p>

<p>4. O MobPUC se reserva ao direito de excluir qualquer publicação de caráter inadequado.</p>

<p>5. O MobPUC não permite nenhum tipo de interação anônima, justamente para que o usuário 
lembre sempre que ele é o principal responsável pela Mob que ele cria.</p>
