<h2>Como funciona</h2>

<p>	O MobPUC é uma plataforma criada por alunos da PUC­Rio que facilita a comunicação com a
universidade. Entendemos que para que o fluxo de informação aconteça de forma mais fácil e 
clara, nada melhor do que um único lugar que reúna todas as mobilizações que surgem entre 
os alunos.  </p>

<p>	Tem alguma sugestão de matéria para o seu departamento? Alguma ideia legal para a PUC 
que ainda não foi implementada ou que pode ser aprimorada? Crie uma Mob, conquiste 
aderentes e realize o seu projeto!</p>

<p>	O MobPUC é a plataforma, você é o agente de mudança!</p>

<p>	Ao criar uma Mob, e­mails são enviados aos destinatários adequados a cada caso, as 
respostas são automaticamente postadas na página da Mob e há um espaço para comentários. 
Uma Mob ganha força conforme o número de alunos que aderem a ela aumenta, com isso, o 
fluxo de e­mails aumenta também até que se tenha algum feedback!</p>

<p>	Após o feedback, o dono da Mob deve classificar o seu status como “Realizada!” ou “Não 
realizada!”. Caso a solução não tenha sido exatamente conforme solicitado, mas tenha 
atendido de alguma forma o pedido, aconselhamos o status “Realizada!” e a adição de um 
comentário por parte do dono da Mob, para que os aderentes possam acompanhar mais 
facilmente os resultados.</p>

<p>	Lembrando que há possibilidade de enviar respostas aos feedbacks por parte do dono da Mob 
e que todos os e­mails trocados estão automaticamente disponíveis na página da Mob.</p>

<p>	Gostou? Então, que tal fazer parte desse projeto? Facilitar os canais de comunicação na sua 
universidade e mantê­los vivos é muito importante e isso depende de você!</p>

<p>	Ah, só não esqueça de dar uma olhada no nosso código de conduta, a consciência e o respeito 
vêm sempre em primeiro lugar ao criarmos uma Mob!</p>

