<li id="mobilization-<%= mobilization.id %>">
  <span class="content"><%= mobilization.title %></span>
  <span class="timestamp">
    Postado hรก <%= time_ago_in_words(mobilization.created_at) %>
  </span>
</li>