<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user.name %>, parabéns!</h2>
    <h2>Você acaba de se tornar um(a) mobilizador(a)!</h2>
    
    <p>Lembre­-se que, para que a sua Mob ganhe voz, você deve divulgá­-la para que os alunos que 
tenham o mesmo objetivo que você possam apoiar a causa!
    </p>
    
    <p>Não esqueça de checar a sua caixa de e­-mails, o MobPUC irá manter você sempre atualizado!<br>
    É muito importante que você não deixe sua Mob inativa, quanto mais atenção você der a ela, 
maiores as chances de que ela seja realizada!
    </p>
    
    <p>E o principal: você é o responsável pela sua Mob! Saiba que todas as respostas serão
postadas automaticamente na página e o espaço para comentários é livre para quem está 
logado!
    </p>
    
    <p>Obrigado por fazer parte desse projeto! Facilitar os canais de comunicação na sua universidade e mantê­-los vivos é muito importante e isso depende de você!
    </p>
  </body>
</html>