<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Atualização de Mobilização!</h2>
    <p>Olá, <%=@user.name%>! Parece que a mobilização <%=@mobilization.title%> foi atualizada! Veja no link: http://www.mobpuc.com.br/mobilizations/<%=@mobilization.id%>
    
  </body>
</html>