<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Parece que alguns estudantes te marcaram em uma mobilização</h1>
    <h2> <%= @mobilization.title %> </h2>
    <p> <%= @mobilization.mail_content %> </p><br>
    <p>_________________________________________</p>
    <p>Para entrar no site: www.mobilizapuc.herokuapp.com</p>
    <p>Obrigado!</p>
  </body>
</html>