<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user.name %>, está quase!</h2>
    <h2>Faltam apenas 10 pressões para sua mob <%=@mobilization.title%> alcançar a meta.</h2>
    
    <p>Se achar necessário atualize sua meta aqui: http://www.mobpuc.com.br/mobilizations/<%=@mobilization.id%>/edit
    </p>
    
  </body>
</html>