<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user.name %>!</h2>
    
    <p>Ao contribuir para a mobilização <%= @mobilization.title %>, você se tornou um(a) agente de mudança!</p>
    
    <p>Curtiu essa experiência?</p>
    
    <p>Compartilhe no Facebook e ajude essa Mob a ter mais visibilidade! Isso faz com que outros 
alunos da PUC possam apoiá­-la também!
    </p>
  </body>
</html>