<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bem Vindo, <%= @user.name %></h1>
    <p>
      Você agora tem acesso a todas as funcionalidades do Mobiliza PUC!
    </p>
    <p>
      Para entrar no site: www.mobilizapuc.herokuapp.com.
    </p>
    <p>Obrigado por participar!</p>
  </body>
</html>