<div class="row">
  <div>
    <aside class="span4">
      <section>
        <h1>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
  </div>
  <div>
    <div class="span8">
      <% if @user.mobilizations.any? %>
        <h3>Mobilizações</h3>
      <% end %>
    </div>
  </div>
</div>

