<div>
	<div>
		<img src = "red_circle.png" width = "50"> <br>
		<h2> Tem algo...</h1>
	</div>
	
	<div>
		<img src = "red_circle.png"> <br>
		<h2> Veja se mais...</h1>
	</div>
	
	<div>
		<img src = "red_circle.png"> <br>
		<h2> Crie sua Mob!</h1>
	</div>
</div>

<h2>Hello World</h2>
<p>
	The time is now: <%= Time.now %>

</p>
