# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 281f2b773d71cb60379830053fc306ee3c01d46e41ed45d72ae1b18169a1606a24fe1be48a1d55305cf8f6d368d4d7fbc29aff1931ab3e44db367b02ac9f9433

test:
  secret_key_base: fb269ea321c0e8cdef807af0b4fa6eb4c5c648013976db7b2930178226a74624f4a753b37fd73a48c90f0f52ec17ddfefdd590ffe7a99b212e5d39c884d810eb

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>