// Place all the styles related to the Mobilizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}
.mob
{
  display: inline-flex;
  padding: 20px 20px 20px 20px;
}

.mobilization-card-container {

	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}


.mobilization-card {

	background:#46B6AC;
	position:relative;
	height:350px;
	width:320px;	
	text-align:center;
	margin:15pt;
	box-shadow: 0px 2px 6px #888888;
	border: 0px solid;
	border-radius: 5px;
	overflow:hidden;
	cursor: pointer; cursor: hand; 

	.progress {

		position:relative;
		height:10%;
		display: flex;
		align-items: center; 
		margin:0px;

		#label {

			position:absolute;
			width: 100%;
			font-size:14pt;
			top:2.5px;
			font-weight: bold;
			text-align:center;
			color:#444;
			text-shadow:
			   -0.5px -0.5px 0 #F5F5F5,  
			    0.5px -0.5px 0 #F5F5F5,
			    -0.5px 0.5px 0 #F5F5F5,
			     0.5px 0.5px 0 #F5F5F5;
			// margin:auto;
		}
	}

	.title {
		padding:20px;
		background:#46B6AC;
		color:#f5f5f5;
		margin:auto;
		height:50%;

		span {
			font-size:24px;
			max-width:  90%;
			margin:auto;
		}
	}

	.description {

		display: -webkit-box;
		width:100%;
		background:#F5F5F5;
		padding:5px;
		margin-top:5px;
		height:29%;
		padding:10px;

		h5 {

			width:90%;
			margin:auto;
			text-overflow: ellipsis;
			-webkit-line-clamp: 5;
			 -webkit-box-orient: vertical;
			 overflow: hidden;
		}
	}

	.open-mobilization-button-container {

		width:100%;
		background-color:#F5F5F5;
	}
}

.mobilization-card:hover{

   box-shadow: 0px 2px 10px #444444;
}